<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" id="profesores">
                <div class="card-header">
                  Seleccione el profesor
                </div>
                <div class="card-body">
                  <h5 class="card-title">Profesores</h5>
                  
                  <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                      <option selected>Choose...</option>
                      
                      
                    </select>
                    <div *ngFor="profesor in profesores" value="profesor.nombre">{{profesor.nombre}}</div>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Ver cursos</button>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>