<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card" id="info">
          <div class="card-header" style="text-align: center;">Información</div>
          <div class="card-body">
            <div class="nav nav-tabs" id="v-pills-tab" role="tablist">
                <a class="nav-link" *ngFor="let tab of asignaturas; let index = index;" id="v-pills-home-tab" data-toggle="pill"
                    href="#v-pills-{{ tab.id }}" role="tab" aria-controls="v-pills-home" aria-selected="true"
                    [ngClass]="{'active': index === activePillIndex}"
                    (click)="selectPill(index)">
                    
                    {{tab.nombre }} - {{tab!.curso!.grado}}{{tab!.curso!.salon}}
                </a>
            </div>
        
            
            <div class="tab-content h-100" id="v-pills-tabContent" *ngFor="let recipe of profesor.asignaturas; let index = index;">
                <div class="tab-pane h-100 fade show active" id="v-pills-{{ recipe.id }}" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    
                        
                            <div class="recipe-description" *ngIf="activePillIndex === index">
                                
                                <table class="table">
                                    <thead>
                                      <tr style="text-align: center;">
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                      </tr>
                                    </thead>
                                    <tbody >
                                        
                                            <tr *ngFor="let est of recipe.estudiantes" style="text-align: center;">
                                                <th scope="row">{{est.id}}</th>
                                                <td>{{est.nombre}}</td>
                                              </tr>
                                        
                                      
                                    </tbody>
                                  </table>
                            </div>
                        
                    
                </div>
            </div>
  
            
          </div>
        </div>
      </div>
    </div>
  </div>
    
        
            
               
           
        
    
